body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    height: 100vh;
    flex-direction: row;
}

/* Стили для боковой панели */
.sidebar {
    width: 250px;
    background-color: white;
    padding-top: 30px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
    border-right: rgba(0, 0, 0, 0.15) 1px solid;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h2 {
    text-align: center;
    font-weight: 100;
    margin-bottom: 50px;
}

.sidebar li {
    margin-bottom: 15px;
    width: 200px;
}

.sidebar a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 16px;
    font-weight: 100;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.sidebar a:hover {
    transition: color 0.3s ease;
    background-color: rgba(220, 220, 220, 0.5);
}

