.main-section {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.main-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}

.main-text h2 {
    margin: 0;
    padding: 0;
}

.main-text p {
    margin: 0;
    padding: 0;
}

.white-block {
    width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.white-block img {
    width: 15px;
    height: auto;
}

.simple-button {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    box-sizing: border-box;
}

.simple-button p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.gap-add {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-margin-bottom {
    margin-bottom: 10px;
}