accelerate==1.8.1
aiohappyeyeballs
aiohttp
aiosignal
anaconda-anon-usage
annotated-types
anyio
archspec
attrs
autoawq==0.2.9
bitsandbytes
boltons
Brotli
certifi
cffi
charset-normalizer
click
conda
conda-anaconda-telemetry
conda-anaconda-tos
conda-content-trust
conda-libmamba-solver
conda-package-handling
conda_package_streaming
contourpy==1.3.3
cryptography
cycler==0.12.1
datasets
dill
distro
dnspython==2.7.0
django
email_validator==2.2.0
fastapi
fastapi-cli==0.0.7
filelock
fonttools==4.60.1
frozendict
frozenlist
fsspec
gmpy2
h11
hf-xet
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface_hub
idna
Jinja2
jsonpatch
jsonpointer==2.1
kiwisolver==1.4.9
libmambapy
markdown-it-py
MarkupSafe
matplotlib==3.10.7
mdurl
menuinst
mpmath
multidict
multiprocess
networkx
numpy
optree
outlines_core==0.2.11
packaging
pandas
pillow==12.0.0
platformdirs
pluggy
propcache
psutil==7.0.0
pyarrow==20.0.0
pybind11
pybind11_global
pycosat
pycparser
pydantic
pydantic_core
Pygments
pyparsing==3.2.5
PySocks
python-dateutil
python-dotenv==1.1.1
python-multipart==0.0.20
pytz
PyYAML
regex
requests
rich
rich-toolkit==0.14.8
ruamel.yaml
ruamel.yaml.clib
safetensors
scipy
sentencepiece==0.2.0
setuptools==80.9.0
shellingham==1.5.4
six
sniffio
starlette
sympy
tokenizers
torch
tqdm
transformers
triton
truststore
typer==0.16.0
typing_extensions
tzdata
urllib3
uvicorn
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1
wheel==0.45.1
xformers==0.0.31
xxhash
yarl
zstandard==0.23.0